app-root{

    // .main-container{

    //     display: block;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: #ccc;


    //     .inner-container{

    //         display: flex;

    //         .left{
    //             background-color: #ff6600;
    //         }
    
    //         .right{
    //             background-color: #fff;
    //         }
    //     }


    // }

    .mat-grid-list{
        background: url('../assets/background-design.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }



    // .left{
    //     background-color: #ff6600;
    // }

    // .right{
    //     background-color: #fff;
    // }
}